<br>
<h5><em>Posted by:</em> {{question.author}}</h5>
<p><em>Additional Notes:</em> {{question.notes}}</p> <br>
<br>


<h2>Responses</h2>
<br>

  {{#each question.answers as |answer|}}
  {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}

<br><br>
<button  class="btn btn-danger"{{action 'delete' question}}>Delete Question</button>
