<h2>About</h2>

<p>This is a message board that allows users to submit a question, then other users can respond with answers. Users are able to click a question and be routed to another page containing additional information and question details. The application has three pages: a homepage that has a list of all questions, this about page, and individual pages that contain each unique question with its answer.</p>
