<div>
  <h1 class="website-title">City Guide</h1>
</div>
<ul class="nav nav-pills navbar-inverse">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="about">About</a></li>
  <li role="presentation"><a href="https://github.com/mwarsame9/message-board">Code</a></li>
</ul>

{{outlet}}
<div class="bg-img"></div>
