<div class="jumbotron">
  <h1>Massage Board</h1>
</div>
<div>
  <nav class="navbar">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
      <li class="active">{{#link-to 'index'}}<span style="color:black">Home</span>{{/link-to}}</li>
      <li class="active">{{#link-to 'about'}}<span style="color:black">About</span>{{/link-to}}</li>
    </ul>
    </div>
  </nav>
</div>

{{outlet}}
