<h2><em>{{model.inquiry}}</em></h2>


{{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}
<br>
{{update-question question=model update="update"}}

{{new-answer saveAnswer="saveAnswer" question=model}}
